name: CI workflow | Test and Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: requirements.txt

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install ruff

      - name: Lint (ruff)
        run: |
          ruff version
          ruff check .

      - name: Run tests
        run: |
          pytest -q

  build-and-push:
    runs-on: ubuntu-latest
    needs: lint-and-test

    steps:
      - name : Checkout
        uses: actions/checkout@v4

      - name: set short sha
        run: echo "IMAGE_TAG=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV

      - name : Show computed tag for short SHA
        run: echo "Image Tag will be  $IMAGE_TAG"

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and Push Docker Image to GHCR
        run: |
          docker build . -t ghcr.io/${{ github.repository_owner }}/health-service-app:${{ env.IMAGE_TAG }}
          docker push ghcr.io/${{ github.repository_owner }}/health-service-app:${{ env.IMAGE_TAG }}
